body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f5f5f5;
}

h1 {
  color: #333;
}

#searchInput {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  margin: 20px auto;
  display: block;
}

#movieInfo {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

#title,
#year,
#plot {
  margin: 10px;
}
